<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>coverImg</key>
		<string>http://pic1.huashichang.com/2018/0517/16/5afd3f2d5c5e7_190_auto.jpg</string>
		<key>title</key>
		<string>夏天就养这5种植物，温度再高也不死 </string>
		<key>author</key>
		<string>爱养花</string>
		<key>createTime</key>
		<string>05月17日 16:39</string>
		<key>content</key>
		<array>
            <dict>
                <key>text</key>
                <string>有不少花友会觉得一到夏天就不适宜种养花草了，因为很多花卉在这个时间段都会进入休眠期，生长速度变得缓慢，或者就停止生长了。今天小编就给大家推荐几款适宜在夏季种植的花卉，温度高也能活，养的好照样能开花。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f2d5c5e7.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>月季是非常好养的一种植物，它对环境的适应能力很强，开出的花朵颜色艳丽繁多，用来观赏装扮都非常适宜。月季一年四季都在开花，花期超长，而且开花不断。夏季高温时仍能开花，只是较其他时间开花的花蕾要弱一些。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f338819a.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>美女樱又叫四季绣球。它是多年生草本植物，常作一年生栽培。美人樱花色丰富，色彩艳丽，盛开时如花海一样，非常美观，适合盆栽观赏或用来布置居室阳台。美人樱喜阳光、不耐阴，在阳光充足、疏松肥沃的土壤中生长，花开繁茂。夏季温度高时，要适时遮阴，以免暴晒引起花朵的衰败。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f3a1adef.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>长春花又叫日日新。它的花期很长，在5-11月都能开花。长春花经常用来布置花坛或者盆栽种植于室内观赏。长春花生性强健，耐旱又耐湿，自生力很强，成熟种子落地，也能萌发幼苗再成长开花，因此常有野生群落分布。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f43a5ce9.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>夏堇又名蝴蝶草、蓝猪耳。是夏秋地高温地区重要的草本植物。夏堇花色丰富、花朵小巧，是极佳的装饰花卉。它喜欢温度高的生长环境，耐炎热。对土壤要求不高，在阳光充足、适度肥沃湿润的土壤上就能开花繁茂，生长期间也不需要太多的花肥，夏堇的繁殖能力很强，能自播。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f4a45597.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>矮牵牛花色鲜艳丰富，开出的花朵像一个个小喇叭一样，非常美观。播种后当年可开花，花期长达数月。矮牵牛属长日照植物，喜温暖和阳光充足的环境。夏季能耐35℃以上的高温。所以夏季高温也完全不用担心它开花生长。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0517/16/5afd3f56630c1.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>最近不知道养些什么花的朋友们，可以试试上面这些植物，只要悉心照料，它们也能让你在炎热的夏季轻松欣赏到美美的花景。</string>
                <key>img</key>
                <string>""</string>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>coverImg</key>
		<string>http://pic1.huashichang.com/2018/0515/16/5afa938da94de_190_auto.jpg</string>
		<key>title</key>
		<string>具备了这些养花基本技巧，还怕养不好植物 </string>
        <key>author</key>
        <string>爱养花</string>
        <key>createTime</key>
        <string>05月15日 16:02 </string>
        <key>content</key>
        <array>
            <dict>
                <key>text</key>
                <string>想要养花的人越来越多，特别是初入养花门的新手们，高兴从花市买回来，结果没几天就养死了，会很受打击的，其实养花一定要掌握技巧，不然再容易的花也能养死。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa938da94de.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>一般普及率比较高的花养护难度都很低，比如吊兰、绿萝、铜钱草、滴水观音、长寿花、豆瓣绿、鸭脚木、吊竹梅、瓜叶菊。如果光说花的名字还有很多，花友看到的无非也就是一大堆文字，也很难找到自己喜欢的。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa93973d48d.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>浇水：不要有事没事就浇水，稍微干一点没事，千万别盆内天天湿乎乎的，特别是盆比较深的，表面虽然干了，但是底部还是湿的，这时候不用浇水的。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa93a1299eb.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>土：新买回来的花，不要急于换盆，等养一段时间适应环境了再换盆，换盆最好是带着原土换盆，这样基本就不会有问题了。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa93a806ed5.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>环境：室内并不适合花草生长，虽然很多植物都摆放在室内，但是它的生长其实是受限的，而且这些植物也都是集中在一些比较皮实耐阴的观叶植物上。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa93b10ba7a.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>对于新手来说的花友，先把植物放在通风良好的阳台养护才是最合适的，另外，要注意有些植物不喜欢强光照，或者有些植物刚从大棚出来，还不能适应强光照，要循序渐进的给予光照。</string>
                <key>img</key>
                <string>http://pic1.huashichang.com/2018/0515/16/5afa93c022f44.jpg</string>
            </dict>
            <dict>
                <key>text</key>
                <string>新手在花市挑选花卉，也不要听老板说什么就挑选什么，首先要从简单的养起，那些看起来很漂亮或者是不怎么常见的花卉就不要踩雷了，多数是难养的货，养死几率也比较高。</string>
                <key>img</key>
                <string>""</string>
            </dict>
        </array>
	</dict>
</array>
</plist>
