<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>flowerId</key>
		<string>0</string>
		<key>img</key>
		<string>http://pic1.huashichang.com/2014/1215/10/548e433ed3d0e_140_120.jpg</string>
		<key>name</key>
		<string>鹅掌楸</string>
		<key>alias</key>
		<string>马褂木,双飘树</string>
		<key>desc</key>
		<string>鹅掌楸为中国特有的珍稀植物，为落叶大乔木，高达40米，胸径1米以上，小枝灰色或灰褐色。叶形如马褂──叶片的顶部平截，犹如马褂的下摆；叶片的两侧平滑或略微弯曲，好像马褂的两腰；叶片的两侧端向外突出，仿佛是马褂伸出的两只袖子。故鹅掌楸又叫马褂木。花单生枝顶，花被片9枚，外轮3片萼状，绿色，内二轮花瓣状黄绿色，基部有黄色条纹，形似郁金香。因此，它的英文名称是(Chinese Tulip Tree)，译成中文就是&apos;中国的郁金香树&apos;。鹅掌楸生长快，耐旱，对病虫害抗性极强。花大而美丽，秋季叶色金黄，似一个个黄马褂，是珍贵的行道树和庭园观赏树种，栽种后能很快成荫，它也是建筑及制作家具的上好木材。主要生长在长江流域以南。主治风湿痹痛，风寒咳嗽等疾病</string>
		<key>infoArray</key>
		<array>
			<dict>
				<key>介绍</key>
				<string>鹅掌楸为中国特有的珍稀植物，为落叶大乔木，高达40米，胸径1米以上，小枝灰色或灰褐色。叶形如马褂──叶片的顶部平截，犹如马褂的下摆；叶片的两侧平滑或略微弯曲，好像马褂的两腰；叶片的两侧端向外突出，仿佛是马褂伸出的两只袖子。故鹅掌楸又叫马褂木。花单生枝顶，花被片9枚，外轮3片萼状，绿色，内二轮花瓣状黄绿色，基部有黄色条纹，形似郁金香。因此，它的英文名称是(Chinese Tulip Tree)，译成中文就是&apos;中国的郁金香树&apos;。鹅掌楸生长快，耐旱，对病虫害抗性极强。花大而美丽，秋季叶色金黄，似一个个黄马褂，是珍贵的行道树和庭园观赏树种，栽种后能很快成荫，它也是建筑及制作家具的上好木材。主要生长在长江流域以南。主治风湿痹痛，风寒咳嗽等疾病</string>
			</dict>
			<dict>
				<key>形态特征</key>
				<string>鹅掌楸为乔木，高达40米，胸径1米以上，小枝灰色或灰褐色。叶马褂状，长4-12（18）厘米，近基部每边具1侧裂片，先端具2浅裂，下面苍白色，叶柄长4-8（-16）厘米。花杯状，花被片9，外轮3片绿色，萼片状，向外弯垂，内两轮6片、直立，花瓣状、倒卵形，长3-4厘米，绿色，具黄色纵条纹，花药长10-16毫米，花丝长5-6毫米，花期时雌蕊群超出花被之上，心皮黄绿色。鹅掌楸聚合果长7-9厘米，具翅的小坚果长约6毫米，顶端钝或钝尖，具种子1-2颗。鹅掌楸的花期5月，果期9-10月。</string>
			</dict>
			<dict>
				<key>生态习性</key>
				<string>鹅掌楸喜光及温和湿润气候，有一定的耐寒性，喜深厚肥沃、适湿而排水良好的酸性或微酸性土壤（pH4.5-6.5），在干旱土地上生长不良，也忌低湿水涝。鹅掌楸通常生于海拔900-1 000米的山地林中或林缘，呈星散分布，也有组成小片纯林</string>
			</dict>
			<dict>
				<key>花语</key>
				<string>鹅掌楸的花语：承诺、信用</string>
			</dict>
		</array>
		<key>imgArray</key>
		<array>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020a4f1733_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020a5771aa_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020a655aa1_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020a6c8196_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020a91f019_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020ab20ddc_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020ae72f8a_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0519/21/5b0020b11ffe7_200_140.jpg</string>
		</array>
	</dict>
	<dict>
		<key>flowerId</key>
		<string>1</string>
		<key>img</key>
		<string>http://pic1.huashichang.com/2014/1119/16/546c52819ffc5_140_120.jpg</string>
		<key>name</key>
		<string>香简草</string>
		<key>alias</key>
		<string>无</string>
		<key>desc</key>
		<string>香简草（学名：Keiskea szechuanensis）为唇形科香简草属下的一个种。产四川南部，云南东北部。为草本或亚灌木植物。 香简草花期8-10月。</string>
		<key>infoArray</key>
		<array>
			<dict>
				<key>介绍</key>
				<string>香简草（学名：Keiskea szechuanensis）为唇形科香简草属下的一个种。产四川南部，云南东北部。为草本或亚灌木植物。 香简草花期8-10月。</string>
			</dict>
			<dict>
				<key>形态特征</key>
				<string>香简草为直立草本，茎高约80厘米。茎上部紫红色，四棱形，具浅槽，下部干后浅黄褐色，具槽，除上部槽内有卷曲疏柔毛外余部均无毛。
叶披针形或长圆状披针形，长3.5-14.5厘米，宽1.2—5.4厘米，先端尾状长渐尖略偏斜，基部渐狭或钝，通常不对称，边缘自基部以上具锐锯齿，近革质，上面绿色，无毛，老时粗糙，下面略淡，网脉凸出，密布微凹陷的腺点，幼时脉上有细而平展的短毛，老时通常无毛。
叶柄长0.7—1.8厘米，腹面有细而卷曲的短柔毛。总状花序顶生或腋生，长5—7厘米，具长4—10毫米的总梗；苞片卵状钻形，长约5毫米，略带红色，边缘有短纤毛，余部无毛；花柄长1—1.5毫米，与花序轴被细腺柔毛；花萼钟形，长约4毫米，宽约3毫米，外面被微柔毛，内面在齿间被细长柔毛束，萼齿5，后齿近圆形，细小，先端突尖，其余4齿披针形，近相等，长约2毫米。
花冠淡黄色，长约7毫米，外面被微柔毛，内面在花冠管下方有疏柔毛环，花冠管基部宽1.2毫米，向上渐扩大，至喉部宽达3.2毫米，冠檐2唇形，上唇直立，长约1.5毫米，2裂，下唇3裂，中裂片稍大，长约1.1毫米；雄蕊4，后对超出花冠约5毫米，前对稍短，花丝扁平，无毛，药2室，略叉开；花柱较雄蕊长，先端2浅裂，裂片不相等，花盘斜环状，后裂片高出子房；子房无毛。
                    花期8-10月。</string>
			</dict>
			<dict>
				<key>生态习性</key>
				<string>香简草生于山坡路旁，海拔1100-2200米。</string>
			</dict>
			<dict>
				<key>品种分类</key>
				<string>香简草属共有约6种。中国有香薷状香简草（K. elsholtzia Merr. ）和中华香简草（K. sinensis Diels）等5种。</string>
			</dict>
			<dict>
				<key>分布区域</key>
				<string>香简草产四川南部，云南东北部。分布于江苏、浙江、安徽、江西、湖南、广东、湖北、四川及云南东北部。</string>
			</dict>
		</array>
		<key>imgArray</key>
		<array>
			<string>http://pic1.huashichang.com/2018/0518/23/5afeeb1285b82_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0518/23/5afeeb1479257_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0518/23/5afeeb16d43bb_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0518/23/5afeeb18944d6_200_140.jpg</string>
		</array>
	</dict>
	<dict>
		<key>flowerId</key>
		<string>2</string>
		<key>img</key>
		<string>http://pic1.huashichang.com/2014/1122/11/5470006f10e2a_140_120.jpg</string>
		<key>name</key>
		<string>月光花</string>
		<key>alias</key>
		<string>夕颜、嫦娥奔月、天茄儿、天茄子</string>
		<key>desc</key>
		<string>月光花是旋花科月光花属，一年生缠绕草本，长可达10米。我国各地多引种栽培，较普遍。喜阳光充足和温暖，不耐寒，遇霜冷即冻死，对土壤要求不严，月光花原产美洲热带。
夕颜又名嫦娥奔月（云南）、天茄儿、天茄子、月光花，是旋花科番薯属植物，原产于新大陆热带及温带地区，包括南美洲全境、中美洲、墨西哥和美国佛罗里达州，分布于全热带、热带美洲以及中国大陆的广西、陕西、江西、浙江、云南、广东、四川、江苏等地，野外多有生长，目前已由人工广泛栽培。月光花的白色花朵形似满月，大而美丽，因在夜间开放，故得名。</string>
		<key>infoArray</key>
		<array>
			<dict>
				<key>介绍</key>
				<string>月光花是旋花科月光花属，一年生缠绕草本，长可达10米。我国各地多引种栽培，较普遍。喜阳光充足和温暖，不耐寒，遇霜冷即冻死，对土壤要求不严，月光花原产美洲热带。
夕颜又名嫦娥奔月（云南）、天茄儿、天茄子、月光花，是旋花科番薯属植物，原产于新大陆热带及温带地区，包括南美洲全境、中美洲、墨西哥和美国佛罗里达州，分布于全热带、热带美洲以及中国大陆的广西、陕西、江西、浙江、云南、广东、四川、江苏等地，野外多有生长，目前已由人工广泛栽培。月光花的白色花朵形似满月，大而美丽，因在夜间开放，故得名。</string>
			</dict>
			<dict>
				<key>形态特征</key>
				<string>月光花是一年生、大的缠绕草本，长可达10米，有乳汁，茎绿色，圆柱形，近平滑或多少具软刺。叶卵形，长10-20厘米，先端长锐尖或渐尖，基部心形，全缘或稍有角或分裂。
花大，夜间开，芳香，1至多朵排列成总状，有时序轴之字曲折；萼片卵形，绿色，有长芒，3片外萼片长5-12毫米（除芒），芒较长，内萼片长7-15毫米（除芒），芒较短或无；花冠大，雪白色，极美丽，瓣中带淡绿色，管长7-12厘米，宽约5毫米，管上部不扩张或微扩张，冠檐浅的5圆裂，扩展，直径7-12厘米；花柱和雄蕊伸出花冠外；雄蕊5，花丝圆柱形，着生于管，花药大，基部箭形，淡黄色；花盘环状，厚，肉质；子房长圆锥状；花柱圆柱形，白色；柱头大， 2球状。
                    月光花蒴果卵形，长约3厘米，具锐尖头，基部为增大的萼片所包围，果柄粗厚。
月光花种子大，无毛，长约1厘米，宽7-8毫米，黄白色、褐色或黑色。花期8～10月，果期9～11月。</string>
			</dict>
			<dict>
				<key>生态习性</key>
				<string>月光花喜阳光充足和温暖，不耐寒，遇霜冷即冻死，对土壤要求不严，在向阳湿润条件下生长良好。大苗不耐移植。
月光花在我国各地多引种栽培，较普遍。</string>
			</dict>
			<dict>
				<key>栽培技术</key>
				<string>管理方法
苗床管理
适当浇水，不能过涝；防治鼠害、虫害：可用辛硫磷、敌百虫拌麦麸子（毒饵）均可；及时锄草，喷施叶面肥；在真叶长到3～4片时开始定心，防止徒长；苗床适宜温度25～28℃，夜间不低于15℃。一般苗龄35～40天，栽前5～7天炼苗；
适时移栽
（1）挖大穴。移栽前挖20cm×20cm大穴，株距1.3～1.6m，亩保苗80～100株左右，每穴施5～7.5kg农家肥和100～250g化肥（二铵、钾肥、镁粉比例为3∶1∶1）做底肥。
（2）人工移栽。移栽前把营养袋浇足水，将苗移植穴中，盖土，并浇足水。同时覆膜，抠眼放苗。也可选择双膜移栽，即移栽后加盖拱膜；
田间管理
（1）人工锄草，及时防治病虫害。
（2）结合追肥耢平空垄并铺草。每平方米用稻草或麦秸1kg左右，防止草荒。在主蔓长到50cm左右时，最好结合灌水，每株追施尿素100～250g，追肥不要距主根太近，防止烧根。不要将尿素散落于叶面上，防止烧叶。
（3）顺蔓、掐尖、打杈、人工授粉。顺蔓，每株留两个主蔓。两条主蔓均横向摆在空垄上，可培一次定向土。掐尖：一级分杈，长到3片叶时，开始掐尖，看住并掐调二、三级分杈，主蔓掐尖在8月23日以后。人工授粉：一般甜葫芦每天上午打杈，掐尖，下午16时开始授粉，过了处暑以后就可停止授粉，一般两条主蔓结瓜6～8个；
采收
8月上旬开始逐渐采收，即第一茬瓜长到7～9kg左右，原则头一天采收，第二天先削掉瓜皮，再削瓜条；在8月到9月份，基本上是9月份葫芦长成近似白色，表皮上的毛没有了，但是还是比较沉的时候就可以采摘了，不然的话如果蔓枯黄了，葫芦就有可能掉下来砸坏了。采下来后还要风干，这样就可以得到丰收的果实了。</string>
			</dict>
			<dict>
				<key>花语</key>
				<string>月光花的花语：永远的爱、易碎易逝的美好。
暮光中永不散去的容颜，生命中永不丢失的温暖。</string>
			</dict>
		</array>
		<key>imgArray</key>
		<array>
			<string>http://pic1.huashichang.com/2018/0517/22/5afd8fce8ef67_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0517/22/5afd8fcf6c99a_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0517/22/5afd8fdd22886_200_140.jpg</string>
		</array>
	</dict>
	<dict>
		<key>flowerId</key>
		<string>3</string>
		<key>img</key>
		<string>http://pic1.huashichang.com/2014/1123/11/547156518d96c_140_120.jpg</string>
		<key>name</key>
		<string>猫眼草</string>
		<key>alias</key>
		<string>夕颜、嫦娥奔月、天茄儿、天茄子</string>
		<key>desc</key>
		<string>猫眼草别名：乳浆大戟、猫眼草、烂疤眼、乳浆草，拉丁文名：Euphorbia esula L. 为大戟科、大戟属植物，主要产于：辽宁、吉林、新疆、内蒙古、河北、山西等地。猫眼草实物夏秋采集，割取全草晒干备用。生用，亦用鲜品。具抗肿瘤作用，对小鼠用氨水引起的咳嗽有镇咳作用；用小鼠酚红法证明有祛痰作用，动物试验证明有消炎及利尿作用。鲜汁多服能致口腔咽喉发麻，胃部不适，呕恶，痛烦，腹泻，甚至眩晕等中毒现象；直接接触皮肤粘膜则有刺激引赤作用。猫眼草花期4-6月，果期6-8月。</string>
		<key>infoArray</key>
		<array>
			<dict>
				<key>介绍</key>
				<string>猫眼草别名：乳浆大戟、猫眼草、烂疤眼、乳浆草，拉丁文名：Euphorbia esula L. 为大戟科、大戟属植物，主要产于：辽宁、吉林、新疆、内蒙古、河北、山西等地。猫眼草实物夏秋采集，割取全草晒干备用。生用，亦用鲜品。具抗肿瘤作用，对小鼠用氨水引起的咳嗽有镇咳作用；用小鼠酚红法证明有祛痰作用，动物试验证明有消炎及利尿作用。鲜汁多服能致口腔咽喉发麻，胃部不适，呕恶，痛烦，腹泻，甚至眩晕等中毒现象；直接接触皮肤粘膜则有刺激引赤作用。猫眼草花期4-6月，果期6-8月。</string>
			</dict>
			<dict>
				<key>形态特征</key>
				<string>猫眼草为多年生草本。根圆柱状，长20厘米以上，直径3-6毫米，不分枝或分枝，常曲折，褐色或黑褐色。茎单生或丛生，单生时自基部多分枝，高30-60厘米，直径3-5毫米；不育枝常发自基部，较矮，有时发自叶腋。叶线形至卵形，变化极不稳定，长2-7厘米，宽4-7毫米，先端尖或钝尖，基部楔形至平截；无叶柄；不育枝叶常为松针状，长2-3厘米，直径约1毫米；无柄；总苞叶3-5枚，与茎生叶同形；伞幅3-5，长2-4 (5)厘米；苞叶2枚，常为肾形，少为卵形或三角状卵形，长4-12毫米，宽4-10毫米，先端渐尖或近圆，基部近平截。花序单生于二歧分枝的顶端，基部无柄；总苞钟状，高约3毫米，直径2.5-3.0 毫米，边缘5裂，裂片半圆形至三角形，边缘及内侧被毛；腺体4,新月形，两端具角，角长而尖或短而钝，变异幅度较大，褐色。雄花多枚，苞片宽线形，无毛；雌花1枚，子房柄明显伸出总苞之外；子房光滑无毛；花柱3，分离；柱头2裂。蒴果三棱状球形，长与直径均5-6毫米，具3个纵沟；花柱宿存；成熟时分裂为3个分果爿。种子卵球状，长2.5-3.0 毫米，直径2.0-2.5毫米，成熟时黄褐色；种阜盾状，无柄。花果期4-10月。</string>
			</dict>
			<dict>
				<key>生态习性</key>
				<string>猫眼草生于路旁、杂草丛、山坡、林下、河沟边、荒山、沙丘及草地。生于山坡、山谷或河岸向阳处。</string>
			</dict>
			<dict>
				<key>品种分类</key>
				<string>植物识别：猫眼草是国产大戟属植物中分布最广、变异幅度最大的种之一，常因复杂的生境产生各种各样的变异，诸如叶型、苞叶形状、植物体大小，不育枝存在与否、腺体两角的尖锐程度等均不稳定；但其主要识别特征是：直根系，没有念珠状根和不定根（与甘遂和钩腺大戟相异）；总苞钟状，5裂，腺体4（与土瓜狼毒相异）；花序基部无柄（与宽叶大戟相异）。因此，乳浆大戟在国产乳汁大戟中是易于识别的。</string>
			</dict>
			<dict>
				<key>分布区域</key>
				<string>猫眼草分布于全国（除海南、贵州、云南和西藏外）。广布于欧亚大陆，且归化于北美。国内分布分布于东北及内蒙古、河北、陕西、山东、江苏、四川等地。</string>
			</dict>
			<dict>
				<key>花语</key>
				<string>月光花的花语：善变。猫眼草长相有点奇特，没有花朵，甚至看不到花瓣。在其花萼中央，有个金黄色的圆盘，形状像猫的眼睛，因而得名。据说也正因为此，猫眼草的花语是善变。凡是受到这种花祝福而生的人，性情不稳定，容易见异思迁，这或许是好奇心旺盛的缘故吧！恋爱时如果不锁定目标，三心二意，可能会失去全部哦！暮光中永不散去的容颜，生命中永不丢失的温暖。</string>
			</dict>
		</array>
		<key>imgArray</key>
		<array>
			<string>http://pic1.huashichang.com/2014/1123/11/547156518d96c_140_120.jpg</string>
			<string>http://pic1.huashichang.com/2018/0515/22/5afaeda415c8f_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0515/22/5afaeda6ca94a_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0515/22/5afaeda73cd4b_200_140.jpg</string>
			<string>http://pic1.huashichang.com/2018/0515/22/5afaeda79dacc_200_140.jpg</string>
		</array>
	</dict>
	<dict>
		<key>flowerId</key>
		<string>4</string>
		<key>img</key>
		<string>http://pic1.huashichang.com/2014/1127/10/54768f0d0f832_140_120.jpg</string>
		<key>name</key>
		<string>雨久花</string>
		<key>alias</key>
		<string>浮蔷、蓝花菜、水白花、蓝鸟花</string>
		<key>desc</key>
		<string>雨久花(学名：Monochoria korsakowii)是一种雨久花科植物。主要生长在浅水池、水塘、沟边或沼泽地中。这种植物分布于中国黑龙江、吉林、辽宁、内蒙古、河北、河南、山东、山西、陕西、江苏、安徽、浙江、江西、湖北、湖南等省区。此外，朝鲜、俄罗斯、日本也有。&#x000A;雨久花花大而美丽，淡蓝色，像只飞舞的蓝鸟，所以又称之为蓝鸟花。而叶色翠绿、光亮、素雅，在园林水景布置中常与其他水生观赏植物搭配使用，是一种极好而美丽的水生花卉。亦可盆栽观赏，花序可作切插花材料。全草可作家畜、家禽饲料，也可供药用，有清热解毒、消肿等功效。</string>
        <key>infoArray</key>
        <array>
            <dict>
                <key>介绍</key>
                <string>雨久花(学名：Monochoria korsakowii)是一种雨久花科植物。主要生长在浅水池、水塘、沟边或沼泽地中。这种植物分布于中国黑龙江、吉林、辽宁、内蒙古、河北、河南、山东、山西、陕西、江苏、安徽、浙江、江西、湖北、湖南等省区。此外，朝鲜、俄罗斯、日本也有。&#x000A;雨久花花大而美丽，淡蓝色，像只飞舞的蓝鸟，所以又称之为蓝鸟花。而叶色翠绿、光亮、素雅，在园林水景布置中常与其他水生观赏植物搭配使用，是一种极好而美丽的水生花卉。亦可盆栽观赏，花序可作切插花材料。全草可作家畜、家禽饲料，也可供药用，有清热解毒、消肿等功效。</string>
            </dict>
            <dict>
                <key>形态特征</key>
                <string>雨久花为直立水生草本；根状茎粗壮，具柔软须根。茎直立，高30-70厘米，全株光滑无毛，基部有时带紫红色。叶基生和茎生；基生叶宽卵状心形，长4-10厘米，宽3-8厘米，顶端急尖或渐尖，基部心形，全缘，具多数弧状脉；叶柄长达30厘米，有时膨大成囊状；茎生叶叶柄渐短，基部增大成鞘，抱茎。&#x000A;总状花序顶生，有时再聚成圆锥花序；花10余朵，具5-10毫米长的花梗；花被片椭圆形，长10-14毫米，顶端圆钝，蓝色；雄蕊6枚，其中1枚较大，花瓣长圆形，浅蓝色，其余各枚较小，花药黄色，花丝丝状。蒴果长卵圆形，长10-12毫米。种子长圆形，长约1.5毫米，有纵棱。
                    雨久花花期7-8月，果期9-10月。</string>
            </dict>
            <dict>
                <key>生态习性</key>
                <string>雨久花性强健，耐寒，多生于沼泽地、水沟及池塘的边缘。主要生长在浅水池、水塘、沟边或沼泽地中。</string>
            </dict>
            <dict>
                <key>品种分类</key>
                <string>雨久花科是一个完全水生的科，约有9属39种，分布于热带、亚热带和温带淡水中。中国有2属约6种：雨久花属（Monochoria Presl ）、 凤眼蓝属（Eichhornia Kunth），分布于长江以南各省。 </string>
            </dict>
            <dict>
                <key>分布区域</key>
                <string>雨久花主要分布于中国东北、华南、华东、华中。我国南方，如广东、云南。&#x000A;东南亚热带地区也广泛分布。日本、朝鲜、东南亚也有分布。</string>
            </dict>
            <dict>
                <key>花语</key>
                <string>雨久花的花语：天长地久。</string>
            </dict>
        </array>
        <key>imgArray</key>
        <array>
            <string>http://pic1.huashichang.com/2018/0501/14/5ae80371b86f3_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0501/14/5ae8037299508_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0501/14/5ae80373d0a97_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0501/14/5ae8037448d3b_200_140.jpg</string>
        </array>
	</dict>
    <dict>
        <key>flowerId</key>
        <string>5</string>
        <key>img</key>
        <string>http://pic1.huashichang.com/2018/0416/20/5ad49b6b92a51.jpg</string>
        <key>name</key>
        <string>繁缕</string>
        <key>alias</key>
        <string>鹅肠菜、繁蒌、滋草、鹅儿肠菜、五爪龙、狗蚤菜、鹅馄饨、圆酸菜、野墨菜、和尚菜、乌云草、鹅耳伸筋、鸡儿肠、繁缕草、繁蒌草、繁缕花</string>
        <key>desc</key>
        <string>繁缕为繁缕的草茎极为繁茂，中间有一缕主茎，所以叫繁缕，俗称鹅肠菜。它的形状与鹅肠十分相似，又容易滋生，故又叫滋草。别名有繁蒌、滋草、鹅肠菜、鹅儿肠菜、五爪龙、狗蚤菜、鹅馄饨、圆酸菜、野墨菜、和尚菜、乌云草等。&#x000A;繁缕为石竹科、繁缕属为常见田间杂草，一年生或二年生草本，高10-30厘米。茎俯仰或上升，基部多少分枝，繁缕喜温和湿润的环境，云南一般在雨季生长旺盛，冬季也能见到。适宜的生长温度为13～23℃，能适较轻的霜冻。&#x000A;繁缕分布温带地区、云南中低海拔和中高海拔地区的500～3700m的范围内，以山坡、林下、田边、路旁为多。&#x000A;归肝；大肠经，味微苦、甘、酸，性凉。药材为石竹科植物繁缕的全草。功效有清热解毒；凉血；活血止痛；下乳。主要治疗痢疾；肠痈；肺痈；乳痈；疔疮肿毒；痔疮肿痛；出血；跌打伤痛；产后瘀滞腹痛；乳汁不下，还有减肥的功效等。茎、叶及种子供药用，嫩苗可食，但据《东北草本植物志》记载为有毒植物，家畜食用会引起中毒及死亡。</string>
        <key>infoArray</key>
        <array>
            <dict>
                <key>介绍</key>
                <string>繁缕为繁缕的草茎极为繁茂，中间有一缕主茎，所以叫繁缕，俗称鹅肠菜。它的形状与鹅肠十分相似，又容易滋生，故又叫滋草。别名有繁蒌、滋草、鹅肠菜、鹅儿肠菜、五爪龙、狗蚤菜、鹅馄饨、圆酸菜、野墨菜、和尚菜、乌云草等。&#x000A;繁缕为石竹科、繁缕属为常见田间杂草，一年生或二年生草本，高10-30厘米。茎俯仰或上升，基部多少分枝，繁缕喜温和湿润的环境，云南一般在雨季生长旺盛，冬季也能见到。适宜的生长温度为13～23℃，能适较轻的霜冻。&#x000A;繁缕分布温带地区、云南中低海拔和中高海拔地区的500～3700m的范围内，以山坡、林下、田边、路旁为多。&#x000A;归肝；大肠经，味微苦、甘、酸，性凉。药材为石竹科植物繁缕的全草。功效有清热解毒；凉血；活血止痛；下乳。主要治疗痢疾；肠痈；肺痈；乳痈；疔疮肿毒；痔疮肿痛；出血；跌打伤痛；产后瘀滞腹痛；乳汁不下，还有减肥的功效等。茎、叶及种子供药用，嫩苗可食，但据《东北草本植物志》记载为有毒植物，家畜食用会引起中毒及死亡。</string>
            </dict>
            <dict>
                <key>形态特征</key>
                <string>繁缕为一年生或二年生草本，高10-30厘米。茎俯仰或上升，基部多少分枝，常带淡紫红色，被1（-2）列毛。叶片宽卵形或卵形，长1.5-2.5厘米，宽1.1-1.5厘米，顶端渐尖或急尖，基部渐狭或近心形，全缘；基生叶具长柄，上部叶常无柄或具短柄。&#x000A;疏聚伞花序顶生；花梗细弱，具1列短毛，花后伸长，下垂，长7-14毫米；萼片5，卵状披针形，长约4毫米，顶端稍钝或近圆形，边缘宽膜质，外面被短腺毛；花瓣白色，长椭圆形，比萼片短，深2裂达基部，裂片近线形；雄蕊3-5，短于花瓣；花柱3，线形。&#x000A;蒴果卵形，稍长于宿存萼，顶端6裂，具多数种子；种子卵圆形至近圆形，稍扁，红褐色，直径1-1.2毫米，表面具半球形瘤状凸起，脊较显著。&#x000A;花期6-7月，果期7-8月。&#x000A;茎&#x000A;匍茎纤细平卧，节上生出多数直立枝，枝圆柱形，肉质多汁而脆，折断中空，茎表一侧有一行短柔毛，其余部分无毛。&#x000A;叶&#x000A;单叶对生；上部叶无柄，下部叶有柄；叶片卵圆形或卵形，长1.5-2.5cm，宽1-1.5cm，先端急尖或短尖，基部近截形或浅心形，全缘或呈波状，两面均光滑无毛。&#x000A;花&#x000A;花两性；花单生枝腋或成顶生的聚伞花序，花梗细长，一侧有毛；等片5，披外形，外面有白色短腺毛，边缘干膜质；花瓣5，白色，短于萼，2深裂直达基部；雄蕊10，花药紫红色后变为蓝色；子房卵形，花柱3-4。&#x000A;果蒴果卵形，先端6裂。&#x000A;种子&#x000A;种子多数，黑褐色；表面密生疣状小突点。南方，花期2-5月，果期5-6月。北方，花期7-8月，果期8-9月。</string>
            </dict>
            <dict>
                <key>生态习性</key>
                <string>繁缕喜温和湿润的环境，云南一般在雨季生长旺盛，冬季也能见到。适宜的生长温度为13～23℃，能适较轻的霜冻。&#x000A;繁缕分布温带地区、云南中低海拔和中高海拔地区的500～3700m的范围内，以山坡、林下、田边、路旁为多。</string>
            </dict>
            <dict>
                <key>品种分类</key>
                <string>繁缕属世界：120种；中国：57种&#x000A;所有物种&#x000A;阿里山繁缕&#x000A;矮陷繁缕&#x000A;白毛繁缕&#x000A;抱茎箐姑草&#x000A;藏南繁缕&#x000A;叉歧繁缕&#x000A;叉歧繁缕(原变种)&#x000A;长瓣繁缕&#x000A;长瓣繁缕(原变种)&#x000A;长裂繁缕&#x000A;长毛箐姑草&#x000A;长叶繁缕&#x000A;长叶繁缕(原变种)&#x000A;常绿禾叶繁缕&#x000A;错那繁缕&#x000A;大叶繁缕&#x000A;单子繁缕 </string>
            </dict>
            <dict>
                <key>分布区域</key>
                <string>繁缕在中国国内云南各地广泛分布，中国其它省区也有分布，国外日本、朝鲜、俄罗斯皆可见。繁缕全国（仅新疆、黑龙江暂时未见记录），为常见田间杂草，亦为世界广布种。&#x000A;繁缕世界各地以及中国大陆的全国各地等地，生长于海拔300米至3,900米的地区，一般生长在田间杂草，目前尚未由人工引种栽培。</string>
            </dict>
            <dict>
                <key>花语</key>
                <string>繁缕花花语：雄辩。繁缕花既然供奉给13世纪西班牙最着名的雄辩家--多明尼哥教会的传教士倍罗德。孔沙斯，因此它的花语是"雄辩"。</string>
            </dict>
        </array>
        <key>imgArray</key>
        <array>
            <string>http://pic1.huashichang.com/2018/0416/20/5ad49b6b92a51.jpg</string>
            <string>http://pic1.huashichang.com/2018/0416/20/5ad49b749a512_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0416/20/5ad49b7916e6c_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0416/20/5ad49b8f5432a_200_140.jpg</string>
        </array>
    </dict>
    <dict>
        <key>flowerId</key>
        <string>6</string>
        <key>img</key>
        <string>http://pic1.huashichang.com/2014/1005/08/543097b1a9759_140_120.jpg</string>
        <key>name</key>
        <string>密蒙花</string>
        <key>alias</key>
        <string>蒙花、小锦花、黄饭花、鸡骨头花、羊耳朵、染饭花、九里香、疙瘩皮树花、新蒙花、蒙花珠、梦花、糯米花、水锦花、老蒙生、米汤花、酒药花、羊耳朵朵尖</string>
        <key>desc</key>
        <string>密蒙花高1-4米。小枝略呈四棱形，灰褐色；小枝、叶下面、叶柄和花序均密被灰白色星状短绒毛，为马钱科植物密蒙花的干燥花或花蕾。密蒙花有祛风、凉血、润肝、明目的作用。可治目赤肿痛，多泪羞明，青盲翳障，风弦烂眼。生海拔200-2800米向阳山坡、河边、村旁的灌木丛中或林缘。分布于：中国、不丹、缅甸、越南。&#x000A;密蒙花为落叶灌木，高1～3m，最高可达6m以上。小枝微具四棱，密被灰白色绒毛，后渐脱落。叶对生，叶柄长6～10mm，被灰白色绒毛;托叶在两叶柄基部之间退化成一横线;叶片长圆状披针形、宽披针形或线状披针形，长5～12cm，宽1～4.5cm，先端渐尖，基部楔形或宽楔形，全缘或有不明显的疏生小锯齿，纸质，上面深绿色，被细星状毛，叶脉凹陷，下面密被灰白色或黄色星状茸毛，叶脉隆起。&#x000A;密蒙花别称：染饭花、九里香、小锦花、蒙花、黄饭花、疙瘩皮树花、鸡骨头花、蒙花,蒙花珠,糯米花,小锦花,水锦花,老蒙生,羊耳朵,米汤花,染饭花,酒药花,黄饭花,鸡骨头花,疙瘩皮树花,羊耳朵朵尖。</string>
        <key>infoArray</key>
        <array>
            <dict>
                <key>介绍</key>
                <string>密蒙花高1-4米。小枝略呈四棱形，灰褐色；小枝、叶下面、叶柄和花序均密被灰白色星状短绒毛，为马钱科植物密蒙花的干燥花或花蕾。密蒙花有祛风、凉血、润肝、明目的作用。可治目赤肿痛，多泪羞明，青盲翳障，风弦烂眼。生海拔200-2800米向阳山坡、河边、村旁的灌木丛中或林缘。分布于：中国、不丹、缅甸、越南。&#x000A;密蒙花为落叶灌木，高1～3m，最高可达6m以上。小枝微具四棱，密被灰白色绒毛，后渐脱落。叶对生，叶柄长6～10mm，被灰白色绒毛;托叶在两叶柄基部之间退化成一横线;叶片长圆状披针形、宽披针形或线状披针形，长5～12cm，宽1～4.5cm，先端渐尖，基部楔形或宽楔形，全缘或有不明显的疏生小锯齿，纸质，上面深绿色，被细星状毛，叶脉凹陷，下面密被灰白色或黄色星状茸毛，叶脉隆起。&#x000A;密蒙花别称：染饭花、九里香、小锦花、蒙花、黄饭花、疙瘩皮树花、鸡骨头花、蒙花,蒙花珠,糯米花,小锦花,水锦花,老蒙生,羊耳朵,米汤花,染饭花,酒药花,黄饭花,鸡骨头花,疙瘩皮树花,羊耳朵朵尖。</string>
            </dict>
            <dict>
                <key>形态特征</key>
                <string>密蒙花为灌木，高1-4米。小枝略呈四棱形，灰褐色；小枝、叶下面、叶柄和花序均密被灰白色星状短绒毛。&#x000A;叶对生，叶片纸质，狭椭圆形、长卵形、卵状披针形或长圆状披针形，长4-19厘米，宽2-8厘米，顶端渐尖、急尖或钝，基部楔形或宽楔形，有时下延至叶柄基部，通常全缘，稀有疏锯齿，叶上面深绿色，被星状毛，下面浅绿色；侧脉每边8-14条，上面扁平，干后凹陷，下面凸起，网脉明显；叶柄长2-20毫米；托叶在两叶柄基部之间缢缩成一横线。&#x000A;花多而密集，组成顶生聚伞圆锥花序，花序长5-15（-30）厘米，宽2-10厘米；花梗极短；小苞片披针形，被短绒毛；花萼钟状，长2.5-4.5毫米，外面与花冠外面均密被星状短绒毛和一些腺毛，花萼裂片三角形或宽三角形，长和宽0.6-1.2毫米，顶端急尖或钝；花冠紫堇色，后变白色或淡黄白色，喉部桔黄色，长1-1.3厘米，张开直径2-3毫米，花冠管圆筒形，长8-11毫米，直径1.5-2.2毫米，内面黄色，被疏柔毛，花冠裂片卵形，长1.5-3毫米，宽1.5-2.8毫米，内面无毛；雄蕊着生于花冠管内壁中部，花丝极短，花药长圆形，黄色，基部耳状，内向，2室；雌蕊长 3.5-5毫米，子房卵珠状，长1.5-2.2毫米，宽1.2-1.8毫米，中部以上至花柱基部被星状短绒毛，花柱长1-1.5毫米，柱头棍棒状，长1-1.5毫米。&#x000A;密蒙花蒴果椭圆状，长4-8毫米，宽2-3毫米，2瓣裂，外果皮被星状毛，基部有宿存花被；种子多颗，狭椭圆形，长1-1.2毫米，宽0.3-0.5毫米，两端具翅。&#x000A;密蒙花花期3-4月，果期5-8月。</string>
            </dict>
            <dict>
                <key>生态习性</key>
                <string>密蒙花生海拔200-2800米向阳山坡、河边、村旁的灌木丛中或林缘。适应性较强，石灰岩山地亦能生长。&#x000A;密蒙花生于山坡，杂木林地，河边和丘陵地带，通常为半阴生。</string>
            </dict>
            <dict>
                <key>品种分类</key>
                <string>繁缕属世界：120种；中国：57种&#x000A;所有物种&#x000A;阿里山繁缕&#x000A;矮陷繁缕&#x000A;白毛繁缕&#x000A;抱茎箐姑草&#x000A;藏南繁缕&#x000A;叉歧繁缕&#x000A;叉歧繁缕(原变种)&#x000A;长瓣繁缕&#x000A;长瓣繁缕(原变种)&#x000A;长裂繁缕&#x000A;长毛箐姑草&#x000A;长叶繁缕&#x000A;长叶繁缕(原变种)&#x000A;常绿禾叶繁缕&#x000A;错那繁缕&#x000A;大叶繁缕&#x000A;单子繁缕 </string>
            </dict>
            <dict>
                <key>分布区域</key>
                <string>密蒙花常分布于不丹、缅甸、越南等，模式标本采自陕西南部。&#x000A;密蒙花产于山西、陕西、甘肃、江苏、安徽、福建、河南、湖北、湖南、广东、广西、四川、贵州、云南和西藏等省区。</string>
            </dict>
            <dict>
                <key>花语</key>
                <string>密蒙花的花语：请幸福到来。</string>
            </dict>
        </array>
        <key>imgArray</key>
        <array>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f7eabfb0_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f7fa462c_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f80a4ba7_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f819e22f_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f82c593b_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f83b0527_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f84af540_200_140.jpg</string>
            <string>http://pic1.huashichang.com/2018/0428/23/5ae48f85b425f_200_140.jpg</string>
        </array>
    </dict>
</array>
</plist>
