<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>百花齐放</key>
		<array>
			<dict>
				<key>flowerId</key>
				<string>10</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2013/1023/00/5266a881c0f35_200_200.jpg</string>
				<key>name</key>
				<string>五彩红星</string>
				<key>desc</key>
				<string>五彩红星原产南美安第斯山...</string>
			</dict>
			<dict>
				<key>flowerId</key>
				<string>11</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2013/1104/23/5277c35585626_200_200.jpg</string>
				<key>name</key>
				<string>向日葵</string>
				<key>desc</key>
				<string>向日葵属向日葵族，一年生...</string>
			</dict>
			<dict>
				<key>flowerId</key>
				<string>12</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2014/0715/17/53c4f9eb44e16_200_200.jpg</string>
				<key>name</key>
				<string>绿箩</string>
				<key>desc</key>
				<string>绿萝又名黄金葛、魔...</string>
			</dict>
			<dict>
				<key>flowerId</key>
				<string>13</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2014/1224/10/549a20836015f_200_200.jpg</string>
				<key>name</key>
				<string>帝王寿</string>
				<key>desc</key>
				<string>帝王寿为百合科瓦苇属多肉...</string>
			</dict>
			<dict>
				<key>flowerId</key>
				<string>14</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2015/0505/23/5548dc8784a4d_200_200.jpg</string>
				<key>name</key>
				<string>草玉露</string>
				<key>desc</key>
				<string>草玉露为独尾草科瓦苇属多...</string>
			</dict>
			<dict>
				<key>flowerId</key>
				<string>15</string>
				<key>img</key>
				<string>http://pic1.huashichang.com/2014/0812/10/53e97cab14471_200_200.jpg</string>
				<key>name</key>
				<string>王玉珠帘</string>
				<key>desc</key>
				<string>王玉珠帘又名千佛手,菊丸...</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>精选文章</key>
		<array>
			<dict>
				<key>articleId</key>
				<string>0</string>
				<key>title</key>
				<string>这7种植物颜值超高还超好养~
这7种植物颜值超高还超好养~ </string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>今天15:48</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>1</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0521/15/5b02792fa5a21_190_auto.jpg</string>
				<key>title</key>
				<string>这7种植物颜值超高还超好养~
这7种植物颜值超高还超好养~ </string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>今天15:48</string>
				<key>desc</key>
				<string>漂亮的东西总能给人带来愉悦的心情，美丽的花朵和漂亮的植物都能让人充满好心情，给人带来满满的元气和正能量！</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>2</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0518/16/5afe8e43e9164_190_auto.jpg</string>
				<key>title</key>
				<string>多肉植物掌握好着6个技巧，就知道怎么养根了
多肉植物掌握好着6个技巧，就知道怎么养根</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月18日 16:33</string>
				<key>desc</key>
				<string>根系是植物的生存根本，没有根系，大部分植物都是无法生长的，对于多肉来说也是相当重要的，那么多肉根系该怎么养呢？需要注意什么呢？</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>3</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0517/16/5afd3f2d5c5e7_190_auto.jpg</string>
				<key>title</key>
				<string>夏天就养这5种植物，温度再高也不死
夏天就养这5种植物，温度再高也不死</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月17日 16:39</string>
				<key>desc</key>
				<string>有不少花友会觉得一到夏天就不适宜种养花草了，因为很多花卉在这个时间段都会进入休眠期，生长速度变得缓慢，或者就停止生长了。今天小编就给大家推荐几款适宜在夏季种植的花卉，温度高也能活，养的好照样能开花。</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>4</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0515/16/5afa938da94de_190_auto.jpg</string>
				<key>title</key>
				<string>具备了这些养花基本技巧，还怕养不好植物
具备了这些养花基本技巧，还怕养不好植物</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月15日 16:02</string>
				<key>desc</key>
				<string>想要养花的人越来越多，特别是初入养花门的新手们，高兴从花市买回来，结果没几天就养死了，会很受打击的，其实养花一定要掌握技巧，不然再容易的花也能养死。一般普及率比较高的花养护难度都很低，比如吊... </string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>5</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0514/16/5af946610c841_190_auto.jpg</string>
				<key>title</key>
				<string>这8种植物水培最美啦
这8种植物水培最美啦</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月14日 16:22</string>
				<key>desc</key>
				<string>植物能分好几种，有的喜欢干旱，有的喜欢水，有些花友总是说控制不好浇水的多少和时间，今天就和大家说说那些水做的植物吧，怎么浇水都不怕。</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>6</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0514/10/5af8f7c2c80d9_190_auto.jpg</string>
				<key>title</key>
				<string>经常睡不好，不如养这6种花，让你酣睡整晚</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月14日 10:46</string>
				<key>desc</key>
				<string>现在很多人都因为工作压力大，或者生活中各种琐事而导致的睡不好等问题，一天两天还不是问题，长期失眠会导致身体机能出现问题，今天就和大家说一说那些可以帮助人进入睡眠的植物。</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>7</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0511/15/5af54a5e52fa1_190_auto.jpg</string>
				<key>title</key>
				<string>水培植物要学会这7个小技巧</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月11日 15:54</string>
				<key>desc</key>
				<string>水培植物是现下比较火的一个养殖植物方式，水培植物比土养更加卫生干净，但是所能得到的营养物质却没有土养的多，容易发生黄叶和烂根，该怎么处理这种情况呢？</string>
			</dict>
			<dict>
				<key>articleId</key>
				<string>8</string>
				<key>coverImg</key>
				<string>http://pic1.huashichang.com/2018/0510/16/5af401c93e6f3_190_auto.jpg</string>
				<key>title</key>
				<string>这7种植物净化空气，你一定要种一盆</string>
				<key>author</key>
				<string>爱养花</string>
				<key>createTime</key>
				<string>05月10日 16:28</string>
				<key>desc</key>
				<string>随着生活水平的提高，很多家庭都会在自己家里摆上几个盆栽，不仅有净化空气的作用有利于身体的健康，还能为屋子增添美感。当新的房子建好喷上墙漆时，为了尽快除去异味，常常也会选择放上一些喷子吸收甲醛以净化空气... </string>
			</dict>
		</array>
	</dict>
</array>
</plist>
